<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Stoyanov_Restaurant::restaurant"
             title="Restaurants"
             module="Stoyanov_Restaurant"
             parent="Magento_Backend::content"
             sortOrder="50"
             resource="Stoyanov_Restaurant::stoyanov"/>

        <add id="Stoyanov_Restaurant::restaurant_view"
             title="View Restaurants"
             module="Stoyanov_Restaurant"
             sortOrder="10"
             parent="Stoyanov_Restaurant::restaurant"
             action="restaurants/restaurant/index"
             resource="Stoyanov_Restaurant::restaurant"/>

        <add id="Stoyanov_Restaurant::user_form"
             title="Create a new API profile"
             module="Stoyanov_Restaurant"
             sortOrder="20"
             parent="Stoyanov_Restaurant::restaurant"
             action="restaurants/restaurant/register"
             resource="Stoyanov_Restaurant::restaurant"/>

        <add id="Stoyanov_Restaurant::user_login"
             title="Login API profile"
             module="Stoyanov_Restaurant"
             sortOrder="30"
             parent="Stoyanov_Restaurant::restaurant"
             action="restaurants/restaurant/login"
             resource="Stoyanov_Restaurant::restaurant"/>
    </menu>
</config>
