<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <!-- Add new tab -->
        <tab id="stoyanov_restaurant" translate="label" sortOrder="100">
            <label>Restaurants</label>
        </tab>

        <!-- Add new section -->
        <section id="restaurants_settings"
                 translate="label"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Restaurants Settings</label>
            <tab>stoyanov_restaurant</tab>
            <resource>Stoyanov_Restaurant::config</resource>

            <!-- Add group -->
            <group id="general"
                   translate="label"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>

                <!-- Add field -->
                <field id="minimum_size"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Minimum collection count</label>
                    <comment>Set Minimum collection count number</comment>
                    <validate>validate-digits</validate>
                </field>
                <!-- Add field -->
                <field id="page_size"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Shown restaurants per page</label>
                    <comment>Set restaurants per page number</comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="api_URL"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>API URL</label>
                    <comment>API location</comment>
                </field>
                <field id="api_token"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>API Token</label>
                    <comment> REST API token</comment>
                </field>
            </group>
        </section>
    </system>
</config>
